.primary-btn{

margin-top:22px;

padding:20px;

border-radius:30px;

background:#0f1215;
color:white;

font-size:18px;
font-weight:600;

border:none;

cursor:pointer;

transition:all 0.25s ease;

}

.primary-btn:hover{

background:#1c1f23;

transform:translateY(-2px);

box-shadow:0 8px 20px rgba(0,0,0,0.25);

}

.divider{

display:flex;
align-items:center;
gap:12px;

margin:18px 0;

color:#777;

}

.divider::before,
.divider::after{

content:"";

flex:1;

height:1px;

background:#cfcfcf;

}

.secondary-btn{

margin-top:10px;

padding:20px;

border-radius:30px;

background:#dcdcdc;

font-size:17px;

border:none;

cursor:pointer;

transition:all 0.25s ease;

}

.secondary-btn:hover{

background:#cfcfcf;

transform:translateY(-2px);

box-shadow:0 6px 18px rgba(0,0,0,0.18);

}