*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, sans-serif;
background:#f3f3f3;
height:100vh;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
border:none;
}

input{
outline:none;
border:none;
}

@font-face{
font-family:"TruFundFont";
src:url("C:\Users\himan\trufund\frontend\src\assets\fonts\Poppins-ExtraBold.ttf");
}

@font-face{
font-family:"TruFundUI";
src:url("C:\Users\himan\trufund\frontend\src\assets\fonts\Montserrat-Bold.ttf");
}

body{
margin:0;
font-family:"TruFundUI", sans-serif;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html, body{

height:100%;
width:100%;

overflow:hidden;

}

body{

font-family:"TruFundUI", sans-serif;

}